.customOrder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5em;
  background-color: #a69b97;
}

.content {
  font-size: 1.4em;
  margin: 0.1em 0;
  font-weight: bold;
  color: white;
}

.customOrder > button {
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 16px;
  border: 1px solid #a69b97;
  background-color: #d7ccc8;
  color: white;
  outline: 0;
  cursor: pointer;
  padding: 1em;
  margin-left: 3em;
  transition: transform 250ms ease-in;
}

.customOrder > button:hover {
  transform: scale(1.02);
  color: grey;
}
